<!--<!DOCTYPE html>-->
<!--<html lang="vi" xmlns:th="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Quản lý sinh viên</title>-->
<!--    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">-->
<!--</head>-->
<!--<body class="container">-->
<!--<h2 class="mt-4">Sửa sinh viên</h2>-->
<!--<form id="edit-student-form" action="/student/update" method="post" class="mb-4">-->
<!--    <input type="hidden" name="id" th:value="${student.id}">-->
<!--    <div class="form-group">-->
<!--        <label for="name">Tên:</label>-->
<!--        <input type="text" id="name" name="name" class="form-control" th:value="${student.name}" required>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        <label for="age">Tuổi:</label>-->
<!--        <input type="number" id="age" name="age" class="form-control" th:value="${student.age}" required>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        <label for="address">Địa chỉ:</label>-->
<!--            <input type="text" id="address" name="address" class="form-control" th:value="${student.address}" required>-->
<!--    </div>-->
<!--    <button type="submit" class="btn btn-primary">Sửa sinh viên</button>-->
<!--</form>-->
<!--<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>-->
<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>-->
<!--</body>-->
<!--</html>-->
